[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = true
name = "pytorch-cuda117"

[packages]
torch = {version = "==2.0.1+cu117", index = "pytorch-cuda117"}
torchvision = {version = "==0.15.2+cu117", index = "pytorch-cuda117"}
torchtext = {version = "==0.15.2+cu117", index = "pytorch-cuda117"}
torchaudio = {version = "==2.0.2+cu117", index = "pytorch-cuda117"}
torchdata = "==0.6.1"
tensorflow = "==2.15.0"
tensorflow-estimator = "==2.15.0"
tensorboard = "==2.15.0"
scikit-learn = "==1.4.1.post1"
mediapipe = "*"
pandas = "==2.2.1"
numpy = "==1.24.3"
requests = "==2.32.1"
datasets = "==2.19.2"
matplotlib = "==3.8.3"
plotly = "==5.19.0"
tqdm = "==4.66.2"
pyyaml = "==6.0.1"
natsort = "==8.4.0"
sacrebleu = "==2.4.0"
sentencepiece = "==0.2.0"
opencv-python = "==4.9.0.80"
h5py = "==3.10.0"
absl-py = "==2.1.0"
attrs = "==23.2.0"
cycler = "==0.12.1"
kiwisolver = "==1.4.5"
packaging = "==23.2"
pyparsing = "==3.1.2"
python-dateutil = "==2.8.2"
six = "==1.16.0"
werkzeug = "==3.0.1"
moviepy = "*"
editdistance = "*"
async-timeout = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
