[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==2.1.0"
torchvision = "==0.16.0"
torchtext = "==0.16.0"
datasets = "*"
tensorflow = "==2.15.0"
tensorflow-estimator = "==2.15.0"
tensorboard = "==2.15.0"
scikit-learn = "==1.4.1.post1"
mediapipe = "*"
pandas = "==2.2.1"
numpy = "==1.26.4"
matplotlib = "==3.8.3"
plotly = "==5.19.0"
tqdm = "==4.66.2"
pyyaml = "==6.0.1"
natsort = "==8.4.0"
sacrebleu = "==2.4.0"
sentencepiece = "==0.2.0"
opencv-python = "==4.9.0.80"
h5py = "==3.10.0"
absl-py = "==2.1.0"
attrs = "==23.2.0"
cycler = "==0.12.1"
kiwisolver = "==1.4.5"
packaging = "==23.2"
pyparsing = "==3.1.2"
python-dateutil = "==2.8.2"
six = "==1.16.0"
werkzeug = "==3.0.1"
moviepy = "*"
editdistance = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
